@import "variables";

.markdown {
  line-height: 1.55;
  padding: $padding-40;



  // remove padding at the beginning of page
  > :first-child {
    margin-top: $padding-8;
  }

  p{
    margin-top: 0 ;
    margin-bottom: 1.7rem;
   }
   
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    color:var(--headline-font-color);
    line-height: 1;
    margin-bottom: $padding-20;

    a.anchor {
      opacity: 0;
      font-size: 0.75em;
      vertical-align: middle;
      text-decoration: none;
    }

    &:hover a.anchor,
    a.anchor:focus {
      opacity: initial;
    }
  }

  h4,
  h5,
  h6 {
    font-weight: bolder;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  b,
  optgroup,
  strong {
    font-weight: bolder;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--raf-visited);
    }
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 0 $padding-4;
    background: var(--gray-200);
    border-radius: $border-radius;
    font-size: 0.875em;
  }

  pre {
    padding: $padding-16;
    background: var(--gray-100);
    border-radius: $border-radius;
    overflow-x: auto;

    code {
      padding: 0;
      background: none;
    }
  }

  blockquote {
    margin: $padding-16 0;
    padding: $padding-8 $padding-16 $padding-8 ($padding-16 - $padding-4); //to keep total left space 16dp
    background-color: #293037;
    border-inline-start: $padding-6 solid var(--raf-green);
    border-radius: $border-radius;
    color: var(--raf-visited);

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    tr th,
    tr td {
      padding: $padding-8 $padding-16;
      border: $padding-1 solid var(--gray-200);
    }

    tr:nth-child(2n) {
      background: var(--gray-100);
    }
  }

  hr {
    height: $padding-1;
    border: none;
    background: var(--gray-200);
  }

  ul,
  ol,
  li {
    padding-inline-start: $padding-8;
    margin-bottom: 0.2rem !important;
  }
  ul>p,
  ol>p,
  li>p {
    margin-bottom: 0.2rem !important;
  }

 li::marker {
  color: var(--raf-green);
  font-size: 0.8rem;
}

  dl {
    dt {
      font-weight: bolder;
      margin-top: $padding-16;
    }

    dd {
      margin-inline-start: $padding-16;
      margin-bottom: $padding-16;
    }
  }

  // Special case for highlighted code with line numbers
  .highlight table tr {
    td:nth-child(1) pre {
      margin: 0;
      padding-inline-end: 0;
    }
    td:nth-child(2) pre {
      margin: 0;
      padding-inline-start: 0;
    }
  }

  details {
    padding: $padding-16;
    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    summary {
      line-height: 1;
      padding: $padding-16;
      margin: -$padding-16;
      cursor: pointer;
    }

    &[open] summary {
      margin-bottom: 0;
    }
  }

  figure {
    margin: $padding-16 0;
    figcaption p {
      margin-top: 0;
    }
  }
}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $mobile-breakpoint-max) {
 
  h1{
    font-size: 2em 
  }

  .markdown {
  max-width: 90vw;
  
  }
  }

  @media screen and (min-width: $mobile-breakpoint) {
    .book-page,
    .book-menu nav,
    .book-toc nav {
      padding: $padding-16 * 2 $padding-16;
    }
    .markdown {
    min-width: 45vw; 
    max-width: 50vw;
    
    }
  }
  